.container {
  background-color: rgba(0, 9, 14, 0.9);
  height: 100vh;
}

.subtitle {
  margin-top: 1vh;
  color: var(--color-light-green);
  font-size: 2.2rem;
  font-family: var(--font-koho);
}

.msg-error {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white)
}

.container > form {
  margin: 4vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
}

.container > form > input {
  border: 0.18rem groove var(--color-light-green);
  width: 60vw;
  height: 4vh;
  border-radius: 5px;
  color: var(--color-dark-green);
}

.container > form > input::placeholder {
  color: var(--color-dark-green);
}

.container > form > input[type='submit'] {
  background-color: var(--color-red);
  border: none;
  padding: 0.3vh 0.3vw;
  width: 30vw;
  height: 3.5vh;
  border-radius: 5px;
  color: var(--color-white);
  font-family: var(--font-koho);
  font-weight: 500;
  font-size: 0.9rem;
}

#btn-google {
  background-color: var(--color-backgound);
  border: none;
}

#img-google {
  width: auto;
  height: 4vh;
}

.container > .msg-error {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white)
}

#container-login > footer {
  display: flex;
  padding: 8vh 20vw;
  justify-content: center;
  margin: 6vh 0 3vh 0;
  font-family: var(--font-koho);
  font-weight: 500;
  font-size: 1rem;
}

#container-login > footer > h4 {
  color: var(--color-white);
}

#container-login > footer > a {
  color: var(--color-light-green);
  text-decoration: none;
}

@media screen and (min-width: 1100px){
  #container-login {
    background: var(--color-background-desktop);
    opacity: 0.9;
    height: 90vh;
    margin-left: 10vh;
    margin-right: 130vh;
    border-radius: 10px;
  }

  #container-login > form > input{
    width: 30vh;
  }

  #container-login > form > input[type='submit']{
    width: 10vh;
  }
  
  #img-google{
    height: 5vh;
  }
 
  #container-login > footer{
   padding: 1vh 2vw;
   margin: 1vh 1vh 1vh 2vh;
  }
  
#container-login > form > input::placeholder {
  font-size: 0.7rem;
}
}
