#container-register > footer{
  display: flex;
  padding: 3vh 20vw;
  justify-content: center;
  margin: 6vh 5vh 3vh 3vh;
  font-family: var(--font-koho);
  font-weight: 500;
  font-size: 1rem;
}

#container-register > footer > h4 {
  color: var(--color-white);
}

#container-register > footer > a {
  color: var(--color-light-green);
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  #container-register{
    background: var(--color-background-desktop);
    opacity: 0.9;
    height: 90vh;
    margin-left: 10vh;
    margin-right: 130vh;
    border-radius: 10px;
  }

  #container-register > form > input{
    width: 55vh;
  }

  #container-register > form > input[type='submit'] {
    width: 15vh;
  }

  #container-register > footer{
    padding: 1vh 8vw;
  }
}