#container-register {
  margin: 5vh 0;
  padding: 2vh 0;
}

#container-register > h1 {
  color: var(--color-white);
  font-size: 3.7rem;
  font-family: var(--font-league);
}

#container-register > h3 {
  color: var(--color-light-green);
  font-size: 2.2rem;
  font-family: var(--font-koho);
}

#container-register > form {
  margin: 2.5vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
}

#container-register > form > input {
  border: 0.18rem groove var(--color-light-green);
  width: 70vw;
  height: 4vh;
  border-radius: 5px;
  color: var(--color-dark-green);
}


input::placeholder {
    color: var(--color-dark-green);
  }

#container-register > form > input[type='submit'] {
  background-color: var(--color-red);
  margin-top: 1vh;
  width: 25vw;
  height: 4vh;
  border: none;
  padding: 0.3rem;
  border-radius: 10px;
  color: var(--color-white);
  font-family: var(--font-koho);
  font-weight: 500;
  font-size: 0.9rem;
}

#container-register > footer {
  display: flex;
  padding: 3vh 20vw;
  justify-content: center;
  font-family: var(--font-koho);
  font-weight: 500;
  font-size: 1rem;
}

#container-register > footer > h4 {
  color: var(--color-white);
}

#container-register > footer > a {
  color: var(--color-light-green);
  text-decoration: none;
}