#modal, #modalEdit {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-content {
    background-color: var(--color-white);
    margin: 20vh 10vw;
    padding: 1vh 1vw;
    border-radius: 10px;
    /* min-width: 60%;
    min-height: 45%;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center; */
  }
  
  #container-timeline> #body-timeline>#btn-modal {
    padding: 1.5vh 10vw;
    border: none;
    background-color: var(--color-white);
    color: var(--color-dark-green);
    border-radius: 15px;
    font-family: var(--font-koho);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .modal-content > .btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .modal-content > .input-post > .inputIngredients, .inputPrepare {
    border: 0.18rem groove var(--color-light-green);
    margin: 0.5vh 0;
    padding: 1vh 1vw;
    width: 70vw;
    height: 8vh;
    border-radius: 5px;
    color: var(--color-dark-green);
    font-family: var(--font-koho);
    /* word-wrap: break-word; */
    resize: none;
  }

  .modal-content > .input-post > .inputDifficult, .inputTime {
    border: 0.18rem groove var(--color-light-green);
    margin: 0.5vh 0;
    padding: 1vh 1vw;
    width: 35vw;
    height: 5vh;
    border-radius: 5px;
    color: var(--color-dark-green);
    font-family: var(--font-koho);
    /* word-wrap: break-word; */
    resize: none;
  }

  /* .modal-content > .input-post > .difficult {
    padding: 1vh 0;
    width: 70vw;
    height: 5vh;
    color: var(--color-dark-green);
    font-family: var(--font-koho);
  } */
  
  .modal-content > .input-post > .inputTitle /*select*/ {
    border: 0.18rem groove var(--color-light-green);
    margin: 0.5vh 0;
    width: 70vw;
    height: 5vh;
    border-radius: 5px;
    color: var(--color-dark-green);

  }

  .modal-content > .btns {
    margin: 1vh 10vw ;
  }
  
  .modal-content > .btns > input[type='submit']{
    background-color: var(--color-light-green);
    width: 20vw;
    padding: 0.5vh 1vw;
    color: var(--color-white)
  }

  #container-timeline> #body-timeline> #timeline-post{
    background-color: rgba(0, 9, 14, 0.9);
    padding-bottom: 10vh;
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post {
    background-color: var(--color-white);
    margin: 2vh 8vw;
    padding-bottom: 1vh;
    line-height: 2.5vh;
    border-radius: 10px;
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post>.linha1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post>h1 {
    padding-top: 1vh;
    font-family: var(--font-koho);
    color: var(--color-dark-green);
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post>p {
    font-family: var(--font-koho);
    color: var(--color-dark-green);
    font-size: 0.7rem;
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post>.linha1>p {
    padding: 0.5vh 0;
    font-family: var(--font-koho);
    color: var(--color-red);
    font-size: 0.8rem;
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post>details>summary {
    font-family: var(--font-koho);
    color: var(--color-light-green);
  }
  
  #container-timeline>#body-timeline>#timeline-post>#single-post>details>div {
    background-color: rgba(30, 60, 27, 0.3);
    margin: 1vh 5vw;
    padding: 2vh 2vw;
    font-family: var(--font-koho);
    font-weight: 500;
    color: #000000;
  }
