#modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  #modal-content {
    background-color: var(--color-white);
    margin: 20vh 10vw;
    padding: 1vh 1vw;
    border-radius: 10px;
    /* min-width: 60%;
    min-height: 45%;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center; */
  }
  
  #container-timeline> #body-timeline>#btn-modal {
    padding: 1.5vh 10vw;
    border: none;
    background-color: var(--color-white);
    color: var(--color-dark-green);
    border-radius: 15px;
    font-family: var(--font-koho);
    font-size: 1rem;
    font-weight: 600;
  }
  
  #modal-content > #btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #modal-content > #input-post > input, select {
    border: 0.18rem groove var(--color-light-green);
    margin: 0.5vh 0;
    width: 70vw;
    height: 4vh;
    border-radius: 5px;
    color: var(--color-dark-green);
  }
  
  #modal-content > #btns > input[type='submit']{
    background-color: var(--color-light-green);
    margin: 1vh ;
    padding: 0.5vh 5vw;
    color: var(--color-white)
  }

  #container-timeline> #body-timeline> #timeline-post{
    background-color: rgba(0, 9, 14, 0.9);
  }
  
  #container-timeline> #body-timeline> #timeline-post > #single-post {
    background-color: var(--color-white);
    margin: 2vh 8vw;
    line-height: 2.5vh;
    border-radius: 10px;
  }
  
  #container-timeline> #body-timeline> #timeline-post > #single-post> .linha1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }
  
  #container-timeline> #body-timeline> #timeline-post > #single-post > h1 {
    padding-top: 1vh;
    font-family: var(--font-koho);
    color: var(--color-dark-green);
  }
  
  #container-timeline> #body-timeline> #timeline-post > #single-post > p {
    font-family: var(--font-koho);
    color: var(--color-dark-green);
    font-size: 0.7rem;
  }
  
  #container-timeline> #body-timeline> #timeline-post > #single-post > .linha1 > p {
    padding: 0.5vh 0;
    font-family: var(--font-koho);
    color: var(--color-red);
    font-size: 0.8rem;
  }
  
  #container-timeline> #body-timeline> #timeline-post > #single-post > h5 {
    padding-bottom: 1vh;
    font-family: var(--font-koho);
    color: var(--color-light-green);
    }