#modal, #modal-edit {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
  
.modal-content {
  background-color: var(--color-white);
  margin: 25vh 8vw;
  padding: 2vh 1vw;
  border-radius: 10px;
}

.modal-content > .input-post > input, textarea, select, .inputTime {
  margin: 0.5vh 0;
  border: 0.18rem groove var(--color-light-green);
  padding: 1vh 1vw;
  width: 75vw;
  height: 5vh;
  border-radius: 5px;
  color: var(--color-dark-green);
  font-family: var(--font-koho);
  font-size: 0.95rem;
}
  
.modal-content > .input-post > textarea {
  padding: 0.5vh 0.5vw;
  height: 8vh;
  resize: none;
}

.modal-content > .input-post > .input-smaller {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.modal-content > .input-post > .input-smaller > select, input[type='number'] {
  width: 37vw;
}
  
.modal-content > .btns > input[type='submit']{
  background-color: var(--color-dark-green);
  margin: 0 1vw;
  border: none;
  width: 25vw;
  height: 3.5vh;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 0.9rem;
}

.modal-content > .fill-all-inputs{
  padding-bottom: 2vh;
  color: var(--color-dark-green);
  font-family: var(--font-koho);
}

@media screen and (min-width: 1100px) {
  .modal-content {
    margin: 25vh 30vw;
  }
  
  .modal-content > .input-post > input, textarea, select, .inputTime {
    width: 37vw;
  }

  .modal-content > .input-post > .input-smaller > select, input[type='number'] {
    width: 18vw;
  }
   
  .modal-content > .btns > input[type='submit']{
    width: 13vw;
    height: 4.5vh;
  }
}


  
  