@import './recipe.css';
@import './post.css';

#header-timeline {
  background-color: var(--color-white);
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 1vh 5vw;
  width: 100vw;
  border-bottom: 2px solid var(--color-background);
}

#header-timeline > figure > #gif-timeline {
  height: 15vh;
  width: auto;
}

#header-timeline > div > p {
  color: var(--color-background);
  font-size: 1rem;
}

#header-timeline > div > h3 {
  padding: 1vh 1vw;
  color: var(--color-red);
  font-size: 1.5rem;
}

#body-timeline {
  background-color: rgba(0, 9, 14, 0.9);
  margin: 0 5vw;
  padding: 20vh 5vw 10vh;
}

#body-timeline > #btn-modal {
  background-color:  rgba(255, 255, 255, 0.1);
  border: 2px solid var(--color-white);
  padding: 1.2vh 2.2vw;
  border-radius: 7px;
  color: var(--color-white);
  font-size: 1.05rem;
  font-weight: 600;
}

footer > nav {
  background-color: var(--color-background);
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
}

footer > nav > ul {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  padding: 3vh 3vw;
}

#btn-home,
#btn-logout {
  color: var(--color-white);
}

@media screen and (min-width: 1200px) {
  #header-timeline {
    padding: 1vh 10vw;
  }
  
  #header-timeline > figure > #gif-timeline {
    height: 16vh;
  }

  #header-timeline > div {
    padding: 1vh 27vw 1vh 0;
  }

  #header-timeline > div > p {
    font-size: 1.25rem;
  }
  
  #header-timeline > div > h3 {
    font-size: 1.9rem;
  }
  
  #body-timeline {
    margin: 0 15vw;
    padding: 21vh 5vw 10vh;
  }
  
  #body-timeline > #btn-modal {
    padding: 1.5vh 11.5vw;
    font-size: 1.2rem;
  }

  footer > nav > ul {
    margin: 0 30vw;
  }
}
