#container-timeline {
  background-color: var(--color-white);
  height: 100vh;
}

#header-timeline {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

#gif-timeline {
  margin: 1vh 0 1vh 6vw;
  height: 15vh;
  width: auto;
}

#container-timeline>#header-timeline>#text-header>p {
  margin: 2vh 5vw 0;
  color: var(--color-background-dark);
  font-size: 1rem;
  font-family: var(--font-koho);
}

#container-timeline>#header-timeline>#text-header>h3 {
  margin: 1vh 1vw 3vh 2vw;
  color: var(--color-red);
  font-size: 1.7rem;
  font-family: var(--font-koho);
}

#body-timeline {
  background-image: url(../../assets/fundo-sem-pimenta.jpg);
  background-size: cover;
  padding-top: 2vh;
  height: 100vh;
  border-radius: 20px 20px 0 0;
}

#post-timeline {
  background-color: var(--color-white);
  height: 15vh;
  width: 85vw;
  border-radius: 10px;
}

#post-timeline>h5 {
  margin: 0;
  padding: 5vh 5vw;
  color: var(--color-background-dark);
  font-size: 1.5rem;
  font-family: var(--font-koho);
}

#body-timeline>nav {
  background-color: var(--color-background-dark);
  position: fixed;
  width: 100%;
  bottom: 0;
}

#body-timeline>nav>ul {
  display: flex;
  padding: 3vh 3vw;
  justify-content: center;
}

#body-timeline>nav>ul>li {
  margin: 0 10vw;
}

#btn-home,
#btn-logout {
  color: var(--color-white);
}
/* -------- TESTE ESTRUTURA POST -------- */
#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#modal-content {
  background-color: var(--color-white);
  margin: 20vh 10vw;
  padding: 1vh 1vw;
  border-radius: 10px;
  /* min-width: 60%;
  min-height: 45%;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center; */
}

#container-timeline> #body-timeline>#btn-modal {
  padding: 1.5vh 10vw;
  border: none;
  background-color: var(--color-white);
  color: var(--color-dark-green);
  border-radius: 15px;
  font-family: var(--font-koho);
  font-size: 1rem;
  font-weight: 600;
}

#modal-content > #btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#modal-content > #input-post > input, select {
  border: 0.18rem groove var(--color-light-green);
  margin: 0.5vh 0;
  width: 70vw;
  height: 4vh;
  border-radius: 5px;
  color: var(--color-dark-green);
}

#modal-content > #btns > input[type='submit']{
  background-color: var(--color-light-green);
  margin: 1vh ;
  padding: 0.5vh 5vw;
  color: var(--color-white)
}

#container-timeline> #body-timeline> #timeline-post {
  background-color: var(--color-white);
  margin: 2vh 8vw;
  line-height: 2.5vh;
  border-radius: 10px;
}

#container-timeline> #body-timeline> #timeline-post> .linha1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

#container-timeline> #body-timeline> #timeline-post > h1 {
  padding-top: 1vh;
  font-family: var(--font-koho);
  color: var(--color-dark-green);
}

#container-timeline> #body-timeline> #timeline-post > p {
  font-family: var(--font-koho);
  color: var(--color-dark-green);
  font-size: 0.7rem;
}

#container-timeline> #body-timeline> #timeline-post > .linha1 > p {
  padding: 0.5vh 0;
  font-family: var(--font-koho);
  color: var(--color-red);
  font-size: 0.8rem;
}

#container-timeline> #body-timeline> #timeline-post > h5 {
  padding-bottom: 1vh;
  font-family: var(--font-koho);
  color: var(--color-light-green);
  }
 
 @media screen and (min-width: 1100px) {
  
  #container-timeline {
    background: var(--color-white);
    margin: 5vh 10vh 0 10vh;
    height: 15vh;
    border-radius: 10px;
  }

  #gif-timeline{
    margin-top: 0;
    margin-left: -35vh;
  }

  #container-timeline > #header-timeline > #text-header > p {
    margin-right: 60vh;
  }
 
  #container-timeline > #header-timeline > #text-header > h3 {
    margin-right: 44vh;
    margin-left: -8vh;
  }

  #body-timeline {
    background-image: none;
    background-color: rgba(0,9,14,0.9);
    background-size: cover;
    padding-top: 2vh;
    height: 75vh;
    border-radius: 20px;
  }

  #body-timeline > #post-timeline > input {
    margin-top: 5vh;
  }

  #body-timeline > nav {
    background-color:none;
    position: relative;
    list-style: none;
    margin-top: -31vh;
    margin-right: 40vh;
    width: 0;
  }

  #body-timeline > nav > ul {
    background-color: white;
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: column;
    gap:0.5rem;
  }
  
  #btn-home,
   #btn-logout {
   color: var(--color-background-desktop);
   
 }
 }

